header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo-container {
  text-align: center;
  padding: auto;
}

.logo-container img,
.logo-container span {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  text-align: right;
  font-size: 3rem;
}