/* footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020024;
  background: linear-gradient(0deg,rgba(2, 0, 36, 1) 0%, rgba(70, 70, 135, 1) 68%, rgba(95, 157, 163, 1) 100%);
  color: #edf3ef;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #333;
}

footer p {
  margin-bottom: 12px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

/* Estilo links */
.nav-list a {
  text-decoration: none;   /* quita subrayado */
  color: #f5f5f5;          /* color fijo */
  font-weight: 500;
  transition: opacity 0.2s ease;
}

/* Link visitado */
.nav-list a:visited {
  color: #f5f5f5;
}

/* Hover */
.nav-list a:hover {
  opacity: 0.8;
}

/* Mientras se hace click */
.nav-list a:active {
  color: #f5f5f5;
}

/* Link seleccionado/focus */
.nav-list a:focus {
  color: #f5f5f5;
  outline: none;
}

.nav-list li {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 2s ease; 
  font-size: 20px;
}

.nav-list li:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* Iconos redes sociales */
.nav-list li:nth-child(1)::before {
  content: "";
  width: 44px;
  height: 44px;
  display: inline-block;
  background-image: url("../../assets/logo-whatsapp.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-list li:nth-child(2)::before {
  content: "";
  width: 44px;
  height: 44px;
  display: inline-block;
  background-image: url("../../assets/logo-instagram.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Responsive */
@media (max-width: 600px) {
  .nav-list {
    flex-direction: column;
    gap: 12px;
  }
}