.nav-list-nav {
  text-decoration: none;
  list-style: none;

  display: flex;
  justify-content: center;
}
.nav-list-nav li {
  text-decoration: none;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #e5e6f2;     
  font-size: 2rem;
  margin: 0.5rem;
}
.nav-list-nav a {
  text-decoration: none;
  color: inherit
}

.incart {
  background-color: red;
  font-size: 1rem;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-size: 12px;
  font-weight: bold;
}
